@import "tailwindcss";

body {
  background: #000;
  color: #d4af37;
}

/* SOLO LO NECESARIO */
.ag-theme-alpine {
  --ag-background-color: #000;
  --ag-foreground-color: #d4af37;
}

/* 🔥 MUY IMPORTANTE → NO ROMPER POPUPS */
.ag-root-wrapper {
  overflow: visible !important;
}

.ag-theme-alpine {
  --ag-popup-z-index: 9999;
}

.ag-theme-alpine .ag-popup {
  position: fixed !important;
  z-index: 9999 !important;
}

html, body, #__next {
  height: 100%;
}

.ag-theme-alpine {
  height: 100%;
}