@import "tailwindcss";

body {
  background: #000;
  color: #d4af37;
}

/* SOLO LO NECESARIO */
.ag-theme-alpine {
  --ag-background-color: #000;
  --ag-foreground-color: #d4af37;
}

/* 🔥 MUY IMPORTANTE → NO ROMPER POPUPS */
.ag-root-wrapper {
  overflow: visible !important;
}